@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Poppins-Black";
  src: url(/fonts/Poppins-Black.woff) format("woff"),
  url(/fonts/Poppins-Black.woff2) format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(/fonts/Poppins-Regular.woff) format("woff"),
  url(/fonts/Poppins-Regular.woff2) format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(/fonts/Poppins-Bold.woff) format("woff"),
  url(/fonts/Poppins-Bold.woff2) format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(/fonts/Poppins-Medium.woff) format("woff"),
  url(/fonts/Poppins-Medium.woff2) format("woff2");

  font-display: swap;
}


:root{
  --primary: 11 12 42;
  --secondary: 31 24 122;
  --accent: 21 23 81
  --content: 255 255 255;
  --header:7 7 32;
  --line: 228 54 55;
  --alert: 220 38 38;
  --disable: 127 127 127;
  --info: 68 130 208;
  --warning: 177 130 47;
}

@layer base{

  .container
  {
    @apply max-w-[1500px] w-full mx-auto px-[120px]
  }
  
  
 .dropdown-content li a
 {
   @apply block text-black text-[15px] px-3 py-1
 }
 .dropdown-content a:hover
 {
  @apply bg-line text-white
 }
 .dropdown-categories:hover .dropdown-content
 {
  @apply block mt-4 z-[2]
 }

 .slick-prev:before {
  
 }



  body {
    @apply
    bg-primary
    text-white
    font-regular;
  }

  a{
    @apply
    text-content
  }

  ul {
    @apply
    list-none
    text-content
  }

  img{
    @apply
    block
    w-full
    h-auto
  }

  h1,h2,h3,h4,h5,h6 {
    @apply
    font-bold
    text-header
    font-thicker
    text-white
  }

  h1{
    @apply
    text-3xl
    mb-4
  }
  h2{
    @apply
    text-xl
    mb-4
  }
  h3{
    @apply
    text-lg
    mb-2
  }
  h4{
    @apply
    text-base
    mb-4
  }

  p{
    @apply
    mb-2
    !leading-5
    opacity-80
  }

}
@layer components{
 
  .btn-left
  {
    @apply bg-line text-white p-4 rounded-l-lg
  }
  .btn-right
  {
    @apply bg-line text-white p-4 rounded-r-lg
  }
  
  .btn:hover 
  {
    @apply bg-line
  }
  .genre 
  {
    @apply bg-white text-primary w-[53%] p-1 
  }

}
@layer utilities{
}


/* .slider .slider-list .slider-list-item:nth-child(1)
{
  @apply z-[1]
}

.slider .slider-list .slider-list-item:nth-child(1) .slider-content .title,
.slider .slider-list .slider-list-item:nth-child(1) .slider-content .genre,
.slider .slider-list .slider-list-item:nth-child(1) .slider-content .description,
.slider .slider-list .slider-list-item:nth-child(1) .slider-content button
{
  @apply transform translate-y-[50px] blur-[50px] animate-showContent
}

.slider .slider-list .slider-list-item:nth-child(1) .slider-content .genre,
{
  @apply animation-delay-75
}

.slider .slider-list .slider-list-item:nth-child(1) .slider-content .title
{
  @apply animation-delay-150
}

.slider .slider-list .slider-list-item:nth-child(1) .slider-content .description,
{
  @apply animation-delay-200
}
.slider .slider-list .slider-list-item:nth-child(1) .slider-content button,
{
  @apply animation-delay-300
}

.slider.next .slider-list .slider-list-item:nth-child(1) img{
  @apply w-[150px] h-[220px] absolute bottom-[50px] left-[50%] rounded-[30px] animate-showImage
}

.slider.next .slider-thumbnail .thumbnail-item:nth-child(1)
{
  @apply overflow-hidden animate-showThumbnail
}

.slider.prev .slider-list .slider-item img
{
  @apply z-[100]
}

.slider.next .slider-thumbnail
{
  @apply animate-effectNext
}

.slider-prev .slider-list .slider-list-item:nth-child(2)
{
  @apply z-[2]
}

.slider-prev .slider-list .slider-list-item:nth-child(2) img
{
  @apply absolute bottom-0 left-0 animate-outFrame
}

.slider-prev .slider-thumbnail .thumbnail-item:nth-child(1)
{
  @apply overflow-hidden opacity-0 animate-showThumbnail
}

.slider.prev .slider-list .slider-list-item:nth-child(1) .slider-content .title,
.slider.prev .slider-list .slider-list-item:nth-child(1) .slider-content .genre,
.slider.prev .slider-list .slider-list-item:nth-child(1) .slider-content .description,
.slider.prev .slider-list .slider-list-item:nth-child(1) .slider-content button
{
  @apply animate-contentOut;
}


.slider .slider-list .slider-list-item .content
{
  @apply sm:pr-0
}

.slider .slider-list .slider-list-item .content .title
{
  @apply text-[30px]
} */

input
{
  @apply text-black
}

.active
{
  @apply text-line
}
.detailed-style
{
  @apply grid grid-cols-2 gap-0 bg-white 
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}